body{
  
--seasalt: #f8f9faff;
--antiflash-white: #e9ecefff;
--platinum: #dee2e6ff;
--french-gray: #ced4daff;
--french-gray-2: #adb5bdff;
--slate-gray: #6c757dff;
--outer-space: #495057ff;
--onyx: #343a40ff;
--eerie-black: #212529ff;

background-color: var(--seasalt);
font-family: 'Noto Serif', serif;
display: flex;
flex-direction: column;
align-items: center;
font-size: 1.2em;
color: var(--outer-space);
}

footer{
    background-color: var(--eerie-black);
    padding:2% 5%;
    display: flex;
}


@media (max-width: 550px) {


    section.hero{
        /* background-color: #d9d9d9; */
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.7em;
        margin-top: 2%;
        padding:2% 5%;
        width: 100%;

    }
    
    section.hero img{
        border-radius: 50%;
        max-width: 70%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
        
    }
    
    section.card{
        background-color: var(--french-gray);
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        margin: 5% 0;
        padding:2% 5%;
        width: 95%;
    }
    
    section.card img{
        border-radius: 50%;
        max-width: 50%;
    }
    
    h1{
        font-size: 2.5em;
        color: black;
        font-family: 'Varela Round', sans-serif;
    
        
    }
    
    h2{
        font-size: 1.5em;
        color: black;
        font-family: 'Varela Round', sans-serif;
    }
    
    section.info{
        display: flex;
        flex-direction: column;
        line-height: 1.7em;
        align-items: center;
      
    }
    
    

}    

/* Larger Screen Media Queries */
@media (min-width: 551px) {

section.hero{
    /* background-color: #d9d9d9; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    line-height: 1.7em;
    margin-top: 5%;
    padding:2% 5%;
    width: 60%;
    max-width: 800px;
}

section.hero img{
    border-radius: 50%;
    max-width: 40%;
}

section.card{
    background-color: var(--french-gray);
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 5% 0;
    padding:2% 5%;
    width: 60%;
    max-width: 800px;
   
}

section.card img{
    border-radius: 50%;
    max-width: 30%;
    padding: 20px;
}

h1{
    font-size: 2.5em;
    color: black;
    font-family: 'Varela Round', sans-serif;
   
    
}

h2{
    font-size: 1.5em;
    color: black;
    font-family: 'Varela Round', sans-serif;
}

section.info{
    display: flex;
    flex-direction: column;
    line-height: 1.7em;
  
}



}